nav{
    height: 100px;
    background-color: rgb(48, 48, 127);
    padding: 10px;
    border-radius: 10px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    padding: 13px;
    color: white;
    border: solid white;
    border-radius: 25px;
    background-color: rgb(83, 83, 236);
}
li{
    float: left;
    margin: auto;
    padding-top: 25px;
    padding-right: 15px;
    font-size: 20px;
}